Todays' topic
---------------
Aggregation : Collecting something together and it works on numerical value

I. count

II. min

III. max

IV. sum

V. avg

count
-------
```In Spark, the count function is an action that returns the number of rows in a DataFrame.```

As per the instructor count acts as both action and transfromation;

For example:<br>
while we apply count on df directly like **df.count()** then it acts as an action <br>
while we apply it inside select like df.select(count("*")) then it acts as transformation

[Please refer to this bard chat](https://g.co/bard/share/a18899a59c56)
And [This linkedin post](https://www.linkedin.com/posts/namanseth_data-transformation-count-activity-7116445887807074304-SHs-?utm_source=share&utm_medium=member_desktop)
<br>
Additionally if you want to get some overview on Transfromation then pleae [click here](https://www.linkedin.com/pulse/wide-vs-narrow-transformations-sparkdistributed-compute-don-hilborn/)

Remember that count behaves differently in different situation as described below.<br>
If we apply count method on single column of dataframe then it will skip **null** value in the column<br>
Whereas if we apply count on all columns i.e df.count() then it will not skip **null** value

In [0]:
from pyspark.sql.functions import *

emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

schema = ['id','name','age','sal','country','dept']
emp_df = spark.createDataFrame(data = emp_data,schema = schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|   sal|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
# Count all th records;as you can see it didn't skip null value
emp_df.count()

Out[7]: 10

In [0]:
# Count total number of records on name column; and as you can see it skipped null value in name column
emp_df.select(count("name")).show()

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
# As discussed above if we will use count inside select then it will act as transformation
# And as you can see here for the below code no job is created
emp_df.select(count("country"))

Out[10]: DataFrame[count(country): bigint]

In [0]:
# We can apply other aggregate function in below way
emp_df.select(sum("sal").alias("total sal"),max("sal").alias("maximum sal"),min("sal").alias("minimum sal")).show()

+---------+-----------+-----------+
|total sal|maximum sal|minimum sal|
+---------+-----------+-----------+
|   560000|     200000|      20000|
+---------+-----------+-----------+

In [0]:
emp_df.select(sum("sal").alias("total sal"),count("sal").alias("total number of salary")\
                                            ,avg("sal").cast("int").alias("avg_salary"))\
                                            .show(truncate=False)

+---------+----------------------+----------+
|total sal|total number of salary|avg_salary|
+---------+----------------------+----------+
|560000   |8                     |70000     |
+---------+----------------------+----------+